.nin_container {
  width: 100%;
  max-height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nin_f_container {
  padding: 100px;
  max-width: 1400px;
  margin: 0 auto;
}
.nin_f_section {
  display: flex;
  gap: 8px;
}

.nin_f_section picture {
  width: 60px;
  height: 60px;
}

.nin_f_section img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nin_s_section {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.nis_s_formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nis_s_formContainer h2 {
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 142.857% */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form label {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.form input,
.form textarea {
  border: none;
  border-bottom: 1px solid #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  padding-left: 10px;
}

.form textarea {
  height: 120px;
  resize: none;
}

.form input:focus,
.form textarea:focus {
  outline: none;
}

.nin_s_imgContainer picture {
  height: 100%;
  width: 100%;
  position: relative;
}

.nin_s_imgContainer span {
  position: absolute;
  background: #fff;
  width: 348px;
  height: 89px;
  bottom: 80px;
  left: 0;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 142.857% */
  display: flex;
  align-items: center;
}

.form .form_phone {
  flex-direction: row;
  position: relative;
}

.form_phone span:nth-child(1) {
  position: absolute;
  font-family: Montserrat;
  
  height: 40px;
  bottom: 2px;
  left: 4px;
  z-index: 1;
  font-size: 30px;
}

.form .form_phone input:nth-child(2) {
  padding-left: 24px;
  width: 120px;
  position: relative;
}

.form .form_phone input:nth-child(2)::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  color: #000;
  background: red;
}

.form .form_phone input:nth-child(3) {
  flex: 1;
}

.button_action:hover {
  background-color: var(--f-color);
  color: #fff;
  transition: 0.4s;
}

.form .bb_red {
  border-color: #f00;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .nin_container {
    padding: 40px;
  }

  .nin_f_container {
    max-width: 500px;
    padding: 0px;
  }
  .nin_s_section h2 {
    line-height: 24px;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;
  }
  .nin_s_imgContainer {
    display: none;
  }

  .form label {
    font-size: 16px;
    line-height: 40px;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
