/* contenido del video y el menu de header */
.header-video-container {
  height: 100vh;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.header-video-bg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(1.2) brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  /* display: none; */
}

/* container de todo el contendio del slider */
.header-container {
}
