.fif_container {
  padding: 150px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 1s ease-in-out;
  background-color: #0d0d0d;
}

.fif_container_change {
  color: #ffffff;
  background-color: #0d0d0d;
}

.fif_items {
  display: flex;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.fif_items h2 {
  font-family: var(--t_family_2);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  background: linear-gradient(
    272deg,
    var(--t-color-1) 0%,
    var(--t-color-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline; */
  padding-bottom: 16px;
}

.fif_items p {
  color: rgba(219, 219, 219, 0.6);
  font-family: var(--t_family_2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.fif_text {
  max-width: 764px;
}

.fif_calendly {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  margin-top: -66px;
}

.mobile {
  display: none;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .fif_container {
    padding: 16px 40px;
    height: 100%;
    min-height: auto;
    background-color: #0d0d0d;
  }

  .fif_items {
    flex-direction: column;
    gap: 30px;
  }

  .fif_items h2 {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 0;
  }

  .fif_items p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.08px;
    text-align: start;
  }

  .fif_calendly {
    height: 875px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 0;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
