.fif_container {
  padding: 150px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 1s ease-in-out;
}

.fif_container_change {
  color: #ffffff;
  background-color: #000;
}

.fif_items {
  display: flex;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 764px;
}

.fif_items h2 {
  font-family: var(--t_family_2);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  background: linear-gradient(
    272deg,
    var(--t-color-1) 0%,
    var(--t-color-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline; */
  padding-bottom: 16px;
}

.fif_items p {
  color: rgba(219, 219, 219, 0.60);
  font-family: var(--t_family_2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.fif_calendly {
  width: 1000px;
  height: 900px;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .fif_container {
    padding: 10px 40px;
    height: 100%;
    min-height: 260px;
  }
  .fif_items {
    flex-direction: column;
    gap: 30px;
  }
  .fif_items p,
  .fif_items h2 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
  .fif_items h2 {
    width: 180px;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
