@import '../../../App.css';

.t_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 300px;
  background-color: var(--bg-color);
}

.t_horizontal_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.t_horizontal_container > :nth-child(2) {
  margin-top: 156px;
}

.t_sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 850px;
  width: 100%;
  height: 700px;
  gap: 24px;
  color: var(--white);
}

.v_sections {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 463px;
  height: 590px;
  gap: 24px;
}

.t_sections > div,
.v_sections > div {
  flex: 1;
}

.t_sections h3,
.v_sections h3 {
  display: inline-block;
  font-family: var(--t_family_2);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  margin-bottom: 24px;
}

.t_t_section,
.t_fi_section {
  transform: translateX(-100px);
}

.t_fo_section {
  transform: translateX(100px);
}

@keyframes h3_before {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.t_sections p {
  font-family: var(--t_family_2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.v_sections p {
  font-family: var(--t_family_2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.t_sections picture {
  /* min-width: 300px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.v_sections picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.t_sections img,
.v_sections img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.t_s_picture {
  background-color: #ec8a50;
  overflow: hidden;
  position: relative;
}

.hidden-description {
  display: hidden;
  opacity: 0;
  transition: opacity 0.5s ease; /* Ajusta la duración del fade a tu gusto */
}

/* Muestra el párrafo con un fade al hacer hover sobre la sección */
.v_sections:hover .hidden-description,
.t_sections:hover .hidden-description {
  display: block;
  opacity: 1;
}

@keyframes float1 {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0px) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(150px) rotate(-39.076deg);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(-57deg) translateY(0px)
      rotate(-57.343deg);
    width: 569.842px;
    height: 633.693px;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-57deg) translateY(-50px)
      rotate(0deg);
    width: 738px;
    height: 820.693px;
  }
}

@keyframes float3 {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0px) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-40px) rotate(-4deg);
  }
}

.t_s_picture img:nth-child(1) {
  width: 738px;
  height: 820.693px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: float1 5s ease-in-out infinite;
}

.t_s_picture img:nth-child(2) {
  width: 569.842px;
  height: 633.693px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: float2 6s ease-in-out infinite;
}

.t_s_picture img:nth-child(3) {
  width: 738px;
  height: 820.693px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: float3 7s ease-in-out infinite;
}

.t_t_picture img:nth-child(1) {
  width: 100%;
  height: 100%;
  z-index: 700;
}

.t_fo_picture img:nth-child(1) {
  width: 100%;
  height: 100%;
  z-index: 699;
  background: var(--black);
}

.t_fi_picture img:nth-child(1) {
  width: 100%;
  height: 100%;
  z-index: 699;
  background: linear-gradient(95deg, #000 3.62%, #c5fc85 96.81%);
}

.tft_left {
  display: none;
  animation: tft_picture 1s ease forwards;
}

@keyframes tft_picture {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.tft_right {
  display: none;
  animation: tft_m_rigth 1s ease forwards;
}

@keyframes tft_m_rigth {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 200px) and (max-width: 1024px) {
  .tft_right,
  .tft_left,
  .t_sections h3::before,
  .t_sections h3::before {
    animation: none;
  }

  .t_container {
    padding: 60px 40px;
    gap: 80px;
  }

  .t_sections {
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }

  .t_sections h3 {
    font-size: 16px;

    line-height: 7.481px;
  }

  .t_sections p {
    font-size: 16px;

    line-height: 28.462px;
  }

  .t_sections picture {
    width: 350px;
    height: 100%;
    min-height: 300px;

    /* background-color: rgba(0, 0, 255, 0.262); */
  }

  .t_s_section {
    flex-direction: column-reverse;
  }

  .t_t_picture img:nth-child(1) {
    width: 95.345px;
    height: 194.914px;
  }

  .t_t_picture img:nth-child(2) {
    width: 233.32px;
    height: 170.763px;
  }

  .t_t_picture img:nth-child(3) {
    width: 230px;
    height: 231px;
  }

  .t_fi_picture img:nth-child(1) {
    width: 75.806px;
    height: 153.641px;
    left: 4px;
    top: 70px;
  }

  .t_fi_picture img:nth-child(2) {
    width: 256.628px;
    height: 164.975px;
    top: 10px;
    left: 70px;
  }

  .t_fi_picture img:nth-child(3) {
    width: 300px;
    height: 240px;
    bottom: -40px;
    left: 30px;
  }

  .t_sections h3::before {
    width: 100%;
    height: 5px;
    bottom: -2px;
    animation: none;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
