@import '../../../App.css';

.slider-all-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  gap: 150px;
  position: relative;
  margin: 100px 0;
  color: var(--black);
}

.slider-all-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.slider-all-title h2,.slider-all-title span {
  text-align: center;
  font-family: var(--f_family);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 100% */
  letter-spacing: 0.36px;
  width: 80%;

  /* margin-bottom: 100px; */
}

.slider-h_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 800px;
  /* !cambiar el height en 1920px */
  min-width: 1055px;
  color: var(--white);
}

.slider_bg_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.slider_bg_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(100%) brightness(30%);
}

/* Title section */

.slider_bg_sections {
  display: none;
  margin: 0 6%;
  /* !gap: 100px; agregar solo en 1920px */
}

.slider-h-titles {
  /* contenedor de titulos */
}

.slider-h-title {
  font-size: 100px;
  line-height: 100px;
  animation: h_changeScale 0.6s linear;
}

@keyframes h_changeScale {
  0% {
    transform: scale(0);
    transform-origin: bottom;
  }
  70% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

@keyframes h_changeScale_out {
  0% {
    transform: scale(1);
    transform-origin: bottom;
  }
  40% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.slider-h-subtitle {
  font-family: var(--s_family);
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
  text-align: end;
  animation: h_leftToRight 0.45s ease-in;
}

/* Image section */
.slider-h-images {
  height: 432px;
  min-width: 760px;
  animation: h_leftToRight 0.45s ease-in;
}

@keyframes h_leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes h_leftToRight_out {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.slider-h-picture {
  height: 100%;
}

.slider-h-picture > img {
  height: 100%;
}

.slider-h-picture-dnone {
  display: none;
}

/* Description Section */

.slider-h-description {
  display: flex;
  flex-direction: column;
  animation: h_btmToTop 0.45s ease-in;
}

@keyframes h_btmToTop {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes h_btmToTop_out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}

.slider-h-tags p {
  font-family: var(--s_family);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.slider-h-tags span {
  font-family: var(--s_family);
  font-size: 16px;
  font-style: normal;
  line-height: 0px;
  font-weight: 300;
  color: #bac0c7;
}

.slider-h-big-description {
  font-family: var(--s_family);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  padding-top: 12px;
}

/* Buttons Section */
.button-sl-h-container {
  position: absolute;
  display: flex;
  gap: 10px;
  right: calc(100% / 2 - 500px);
  bottom: calc(100% / 8 - 8%);
  animation: h_btmToTop_2 0.45s ease-in;
}

@keyframes h_btmToTop_2 {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (min-width: 200px) and (max-width: 1200px) {
}

@media (min-width: 200px) and (max-width: 750px) {

  .slider-all-container{
    margin: 0;
  }

  .slider-h_container,.button-sl-h-container {
    display: none;
  }
  .slider-all-title h2 {
    font-size: 20px;
    line-height: 20px;
    white-space: nowrap;
    width: 100%;
  }

  .slider-all-title span {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
}
