.home_s_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.home_s_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 100px;
  padding: 0 100px;
}

.home_s_pictures {
  flex: 1;
  height: 530px;
  min-width: 600px;
  position: relative;
  background-color: red;
}

.home_s_pictures img {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
