.home_f_c {
  max-width: 1920px;
  font-family: 'Montserrat', 'Inter', 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

/* -------------------- */
/* !home second section */
/* -------------------- */
