.f_container {
  background-color: var(--bg-color);
}

.f_s_section {
  font-family: var(--t_family_2);
  font-style: normal;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px; 
  margin: 0 auto;
  padding: 100px 0 150px;
}

.f_s_title {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.f_s_title h2 {
  min-height: 88px;
  font-family: var(--t_family_2);
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  background: linear-gradient(
    272deg,
    var(--t-color-1) 0%,
    var(--t-color-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline; /* Change display to inline to fix gradient on multiline text */
}

.f_s_title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #5c5c5c;
}

.button-with-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  gap: 8px;
}

.arrow {
  width: 24px;
  height: 24px;
  color: #fff;
  transform: rotate(-180deg) translateY(-3px) translateX(0); /* Flecha hacia abajo */
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(0deg) translateY(3px) translateX(0); /* Flecha hacia arriba */
}

.f_s_list {
  width: 30%;
  transition: transform 0.3s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.f_s_list .f_s_item {
  transition: max-height 0.3s ease;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px; /* 100% */
}

.f_s_list .f_s_item button {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  font-size: inherit;
  color: inherit;
}

.f_s_list .f_s_item span {
  font-family: var(--t_family_2);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  color: #cccccc;
}

.f_s_list .f_s_item .f_s_description {
  font-family: var(--t_family_2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.9s; /* Retrasa la transición de opacidad */
  opacity: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  color: rgba(219, 219, 219, 0.6);
}

.f_s_list .f_s_item.active .f_s_description {
  max-height: 20em; /* Ajusta este valor para que sea ligeramente mayor que la altura del contenido */
  transition: max-height 0.9s ease, opacity 0.9s; /* Sin retraso para la transición de opacidad */
  opacity: 1;
}

.f_s_p_container p {
  display: none;
  animation: toTopP 1s ease-in-out;
}

@keyframes toTopP {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.f_s_p_container span {
  position: relative;
  white-space: nowrap;
}

.f_s_p_container span::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 12px;
  width: 100%;
  z-index: -1;
  background-color: var(--s_shadow);
  animation: toRightB 1s ease-in-out backwards 0.5s;
}

@keyframes toRightB {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.f_t_section {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  max-width: 100%;
  text-align: center;
}

.f_t_section span {
  font-family: var(--t_family_2);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 100% */
  letter-spacing: 0.36px;
  position: relative;
}

.f_t_section span::before {
  content: '';
  position: absolute;
  bottom: 18px;
  left: 8px;
  height: 12px;
  width: 100%;
  z-index: -1;
  background-color: var(--s_shadow);
}

.f_t_section .f_t_span::before {
  left: 5px;
}

.f_t_section p {
  font-family: var(--s_family);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

@media (min-width: 200px) and (max-width: 1024px) {
}

@media (min-width: 200px) and (max-width: 750px) {
  .t_container .t_horizontal_container {
    display: none;
  }

  .t_container .t_sections {
    display: none;
  }

  .f_s_title h2 {
    min-height: auto;
  }

  .f_s_p_container span::before {
    animation: none;
  }

  .f_container {
    padding: 32px 40px 16px;
    margin: 0;
  }

  .f_f_section {
    display: none;
  }

  .f_s_section {
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    padding: 0;
  }

  .f_s_section h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
  }

  .f_s_section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.08px;
    color: #858E97;
  }

  .f_s_list {
    width: 100%;
  }

  .f_s_title {
    width: 100%;
    gap: 8px;
  }

  .button-with-arrow {
    gap: 16px;
  }

  .button-text {
    margin-right: 0;
  }

  .f_s_list .f_s_item span {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
  }

  .f_s_list .f_s_item .f_s_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.08px;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
}
