.sv_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  flex-direction: column;
  gap: 120px;
  background-color: #111111;
}

.sv_s_container {
  display: none;
  width: 100%;
  animation: sv_s_container_to_R 0.5s linear forwards;
  flex-direction: column;
}

@keyframes sv_s_container_to_R {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.sv_s_container h3 {
  font-family: var(--t_family_2);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  color: #ddd;
  padding-bottom: 40px;
}

.sv_s_faq {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.sv_s_faq:not(:last-child) {
  border-bottom: 1px solid #858e97;
}

.sv_s_faq .sv_s_question {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 753px;
}

.arrow_faq {
  transform: rotate(0deg) translateY(0) translateX(0); /* Flecha hacia abajo */
  transition: transform 0.3s ease;
}

.arrow_faq.up {
  transform: rotate(-180deg) translateY(0) translateX(0); /* Flecha hacia arriba */
}

.sv_s_question p {
  font-family: var(--t_family_3);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}

.sv_s_question img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  color: var(--white);
}

.sv_s_answer {
  /* display: none; */
  font-family: var(--t_family_3);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  color: #858E97;
  max-width: 580px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.1s;
}

.sv_s_faq.active .sv_s_answer {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .sv_s_container_invert,
  .sv_s_container,
  .sv_s_name h3::before {
    animation: none;
  }

  .sv_s_name h3::before {
    display: none;
  }

  .sv_container {
    padding: 20px 40px;
    height: 100%;
    gap: 70px;
    background-color: #0d0d0d;
  }

  .sv_s_container {
    flex-direction: column;
    gap: 8px;
  }

  .sv_s_container h3 {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 0;
  }

  .sv_s_faq:nth-child(2) {
    padding-top: 0px;
  }

  .sv_s_faq {
    padding: 16px 0;
  }

  .sv_s_faq .sv_s_question {
    gap: 16px;
  }

  .sv_s_question p {
    font-family: var(--t_family_2);
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #ccc;
  }

  .sv_s_question img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    color: #ccc;
  }

  .sv_s_answer {
    font-family: var(--t_family_2);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.08px;
  }

  .sv_s_text {
    align-items: center;
  }

  .sv_s_text p {
    font-size: 16px;
    line-height: 28.462px;
    text-align: center;
  }

  .sv_s_name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sv_s_name h3::before {
    width: 110%;
    height: 8px;
    bottom: 7px;
    left: -5%;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
