.sv_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  flex-direction: column;
  gap: 120px;
  background-color: #111111;
}

.sv_s_container {
  display: none;
  width: 100%;
  animation: sv_s_container_to_R 0.5s linear forwards;
  /* max-width: calc(656px + 220px + 20px); */
  flex-direction: column;
}

@keyframes sv_s_container_to_R {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* .sv_s_container_invert {
  display: none;
  flex-direction: row-reverse;
  animation: sv_s_container_to_L 0.5s linear forwards;
}

@keyframes sv_s_container_to_L {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
} */

/* .sv_s_container picture {
  width: 211px;
  height: 211px;
} */

.sv_s_container h3 {
  font-family: var(--t_family_2);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  color: var(--white);
  padding-bottom: 40px;
}

.sv_s_faq {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.sv_s_faq:not(:last-child) {
  border-bottom: 1px solid #858e97;
}

.sv_s_faq .sv_s_question {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 753px;
}

.sv_s_question p {
  font-family: var(--t_family_3);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}

.sv_s_question img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  color: var(--white);
}

.sv_s_answer {
  /* display: none; */
  font-family: var(--t_family_3);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  color: #858E97;
  max-width: 580px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.1s;
}

.sv_s_faq.active .sv_s_answer {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .sv_s_container_invert,
  .sv_s_container,
  .sv_s_name h3::before {
    animation: none;
  }

  .sv_s_name h3::before {
    display: none;
  }
  .sv_container {
    margin: 40px 0;
    padding: 10px 40px;
    /* background-color: rgba(0, 255, 51, 0.398); */
    height: 100%;
    gap: 70px;
  }
  .sv_s_container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .sv_s_text {
    align-items: center;
  }

  .sv_s_text p {
    font-size: 16px;
    line-height: 28.462px;
    text-align: center;
  }

  .sv_s_name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sv_s_name h3::before {
    width: 110%;
    height: 8px;
    bottom: 7px;
    left: -5%;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
