.six_container {
  width: 100%;
  height: 100vh;
  max-height: 823px;
  padding: 94px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../../assets/header/Pepitas.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
}

@keyframes six_bg_toRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.six_sections {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.six_f_section {
  justify-content: space-around;
  flex: 1;
  padding: 0 140px;
  max-width: 1600px;
  margin: 0 auto;
  display: none;
  opacity: 0;
  animation: six_f_section 0.5s linear forwards 0.5s;
  text-align: center;
}

@keyframes six_f_section {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.six_s_section {
  justify-content: center;
  gap: 42px;
  align-items: center;
  display: none;
  opacity: 0;
  animation: six_s_section 0.5s linear 0.5s forwards;
}

@keyframes six_s_section {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.six_rg_b_container {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.six_rg_b_container > div {
  display: flex;
  gap: 40px;
}

.six_rg_t_container h3 {
  font-family: var(--t_family_2);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 133.333% */
  background: linear-gradient(
    272deg,
    var(--t-color-1) 0%,
    var(--t-color-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  text-align: center;
}

.six_rg_t_container span {
  font-family: var(--t_family_2);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 133.333% */
  letter-spacing: 0.36px;
  background: linear-gradient(
    292deg,
    var(--t-color-1) 90.46%,
    var(--t-color-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline; Change display to inline to fix gradient on multiline text */
  text-align: center;
}

.six_rg_t_img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.six_rg_t_img img {
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  border: 1px solid #fff;
  transition: width 1s ease, height 1s ease, opacity 1s ease, margin 2s ease; /* Transiciones suaves para revertir el estado */
}

.six_container:hover .six_rg_t_container h3:nth-child(1) {
  animation: rightMargin 1s ease forwards;
}

.six_container:hover img {
  animation: growImg 1s ease forwards, firstMarginMove 2s ease forwards,
    lastMarginMove 2s 2s ease forwards;
}

@keyframes rightMargin {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 20px;
  }
}

@keyframes growImg {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

@keyframes firstMarginMove {
  0% {
    margin-left: -50px;
  }
  100% {
    margin-left: -10px;
  }
}

@keyframes lastMarginMove {
  0% {
    margin-left: -10px;
  }
  100% {
    margin-left: -20px;
  }
}

.six_container:not(:hover) .six_rg_t_container h3:nth-child(1) {
  animation: revertRightMargin 1s ease forwards;
}

.six_container:not(:hover) img {
  animation: shrinkImg 1s ease forwards, revertFirstMarginMove 2s ease forwards,
    revertLastMarginMove 2s 2s ease forwards;
}

@keyframes revertRightMargin {
  0% {
    margin-right: 20px;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes shrinkImg {
  0% {
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@keyframes revertFirstMarginMove {
  0% {
    margin-left: -10px;
  }
  100% {
    margin-left: -50px;
  }
}

@keyframes revertLastMarginMove {
  0% {
    margin-left: -20px;
  }
  100% {
    margin-left: -10px;
  }
}

.six_rg_t_span0 {
  display: inline;
}

.six_rg_t_span1 {
  display: none;
}

.six_container:hover .six_rg_t_span0 {
  animation: spanChange0 0.3s ease forwards;
}

.six_container:hover .six_rg_t_span1 {
  display: inline;
  opacity: 0;
  animation: spanChange1 0.3s 0.3s ease forwards;
}

@keyframes spanChange0 {
  0% {
    opacity: 1;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes spanChange1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.six_rg_b_container h3 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 160% */
  border-bottom: 1px solid var(--black);
  width: 485px;
  text-align: center;
  padding-bottom: 10px;
}

.six_rg_b_container span {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
}

.six_s_section span {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 175% */
  display: flex;
  width: 321px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: var(--s_black);
}

@media (min-width: 200px) and (max-width: 1024px) {
  .six_container {
    display: none;
  }
  .six_bg,
  .six_f_section,
  .six_s_section {
    animation: none;
    display: flex;
    opacity: 1;
  }

  .six_container {
    padding: 10px 30px;
    height: 100%;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
  }

  .six_bg {
    display: none !important;
  }

  .six_sections {
    background-color: #8787fb80;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .six_f_section {
    padding-top: 40px;
  }

  .six_s_section {
    padding-bottom: 40px;
  }
  .six_rg_t_container h3 {
    font-size: 12px;
    line-height: 9.235px;
  }

  .six_rg_t_container p {
    font-size: 24px;
    line-height: 36.939px;
  }

  .six_rg_b_container {
    margin-top: 10px;
    gap: 5px;
  }

  .six_rg_b_container h3 {
    width: 100%;
    line-height: 28.462px;

    font-size: 16px;
    padding: 0;
    font-weight: 500;
  }

  .six_rg_b_container span {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
  }

  .six_rg_b_container > div {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .six_s_section picture {
    width: 276px;
    height: 348px;
    margin-top: 10px;
  }

  .six_s_section img {
    width: 100%;
    height: 100%;
  }

  .six_s_section span {
    position: absolute;
    width: auto;
    padding: 10px 40px;
    bottom: 40px;
    right: 0;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
