.f_container {
  padding: 0 10%;
  padding-bottom: 100px;
}

.f_f_section {
  height: 300px;
}

.f_s_section {
  text-align: justify;
  font-family: var(--s_family);
  font-style: normal;
  margin-bottom: 220px;
}

.f_s_section h2 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3.6px;
}

.f_s_p_container {
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  min-height: 360px;
}

.f_s_p_container p {
  display: none;
  animation: toTopP 1s ease-in-out;
}

@keyframes toTopP {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.f_s_p_container span {
  position: relative;
  white-space: nowrap;
}

.f_s_p_container span::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 12px;
  width: 100%;
  z-index: -1;
  background-color: var(--s_shadow);
}

.f_t_section {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  max-width: 100%;
  text-align: center;
}

.f_t_section span {
  font-family: var(--f_family);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 100% */
  letter-spacing: 0.36px;
  position: relative;
}

.f_t_section span::before {
  content: '';
  position: absolute;
  bottom: 18px;
  left: 8px;
  height: 12px;
  width: 100%;
  z-index: -1;
  background-color: var(--s_shadow);
}

.f_t_section .f_t_span::before{
  left: 5px;
}

.f_t_section p {
  font-family: var(--s_family);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
