.tm_container {
  position: fixed;
  background-color: #10100f;
  top: 0;
  height: 100vh;
  width: 50%;
  max-width: 300px;
  right: 0;
  color: #fff;
  padding: 18px 18px;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
}

.tm_f_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tm_s_section {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  text-align: center;
}

.tm_s_section *{
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}

.nav-logo-w strong {
  color: #8787fb;
}
.nav-logo-w {
  color: #fff;
}

@media (min-width: 1024px) {
  .tm_container {
    display: none;
  }
}
