@import '../../App.css';

.nav-container {
  height: 48px;
  padding: 0 6%;
  display: flex;
  align-items: center;
  font-family: var(--t_family);
  column-gap: 20px;
  flex-wrap: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  width: 100%;
}

.nav-logo {
  width: 200px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.nav-logo > strong {
  color: var(--f-color);
  font-weight: 700;
}

.nav-sections {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-sections > * {
  list-style: none;
  margin-right: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}

.nav-sections > *:hover {
  border-bottom: 2px solid var(--f-color);
}

.nav-sections > li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}

.nav-sections > li:hover::before {
  width: 100%;
}

.nav-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #8787fb80;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 999;
}

.nav-button-container:hover {
  background-color: #8787fb;
}

.nav-button {
  width: 50%;
  height: 50%;
}

.nav-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* dark mode */
.nav-bg-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  border: 1px solid #6666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bg-circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #fff;
}

/* .nav-bg-circle:hover {
  background-color: #000;
} */

.nav-bg-black {
  background-color: #000;
}

/* .nav-bg-black:hover {
  background-color: #fff;
} */

/* LANGUAGE */

.language-selector {
  position: relative;
  height: 40px;
  width: 40px;
}

.language-selector li {
  list-style: none;
  cursor: pointer;
  position: relative;
  z-index: 990;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.2s ease-in-out;
}

.language-selector li:nth-child(2) {
  position: absolute;
  z-index: 980;
  top: 0px;
}
.language-selector li:nth-child(3) {
  position: absolute;
  z-index: 979;
  top: 0px;
}
.language-selector li:nth-child(4) {
  position: absolute;
  z-index: 978;
  top: 0px;
}

.nav_mobile {
  display: none;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .nav-sections {
    display: none;
  }

  .nav-container {
    /* position: fixed; */
    /* background-color: #fff; */
    padding: 0;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    /* z-index: 999;
    box-shadow: 0 0 3px #000; */
  }

  .nav_mobile {
    display: inline-block;
    width: 30px;
    height: 100%;
  }

  .nav_r_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
  }

  .nav_mobile picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-button-container {
    height: 50px;
    width: 50px;
  }

  .nav-button {
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
