@import '../../App.css';

.nav-container {
  background-color: var(--bg-color);
  width: 100%;
  max-width: 1140px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--t_family_2);
  flex-wrap: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-size: 37.331px;
  font-style: normal;
  font-weight: 700;
  line-height: 58.33px;
}

.nav-logo p:nth-child(1) {
  background: linear-gradient(272deg, #e0d9ff -150%, #5c3e6e 46.12%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-logo p:nth-child(2) {
  background: linear-gradient(272deg, #e0d9ff 90%, #5c3e6e 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .nav-logo > strong {
  color: var(--f-color);
  font-weight: 700;
} */

.nav-sections {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--t-color-1);
  gap: 16px;
}

.nav-sections > * {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: none;
}

.nav-sections > *::after {
  content: '';
  height: 1px;
  background: linear-gradient(
    267deg,
    var(--t-color-1) 4.51%,
    var(--t-color-2) 95.01%
  );
  display: block;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

/* .nav-sections > *:hover {
  background: linear-gradient(272deg, #e0d9ff 33.45%, #b091c2 146.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-in-out;
} */

.nav-sections > *:hover::after {
  transform: scaleX(1);
}

.nav-sections > *:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}

/* .nav-sections > li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}

.nav-sections > li:hover::before {
  width: 100%;
} */

.nav-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #8787fb80;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 999;
}

.nav-button-container:hover {
  background-color: #8787fb;
}

.nav-button {
  width: 50%;
  height: 50%;
}

.nav-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* dark mode */
.nav-bg-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  border: 1px solid #6666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bg-circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #fff;
}

/* .nav-bg-circle:hover {
  background-color: #000;
} */

.nav-bg-black {
  background-color: #000;
}

/* .nav-bg-black:hover {
  background-color: #fff;
} */

/* LANGUAGE */

.language-selector {
  position: relative;
  height: 40px;
  width: 40px;
}

.language-selector li {
  list-style: none;
  cursor: pointer;
  position: relative;
  z-index: 990;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.2s ease-in-out;
}

.language-selector li:nth-child(2) {
  position: absolute;
  z-index: 980;
  top: 0px;
}
.language-selector li:nth-child(3) {
  position: absolute;
  z-index: 979;
  top: 0px;
}
.language-selector li:nth-child(4) {
  position: absolute;
  z-index: 978;
  top: 0px;
}

.nav_mobile {
  display: none;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .nav-sections {
    display: none;
  }

  .nav-container {
    /* position: fixed; */
    /* background-color: #fff; */
    padding: 0;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    padding: 10px 16px;
    height: 100%;
    /* z-index: 999;
    box-shadow: 0 0 3px #000; */
  }

  .nav-logo {
    line-height: 58.33px;
  }

  .nav_r_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
  }

  .nav_mobile {
    display: inline-block;
    width: 24px;
    height: 100%;
    padding: 8px 15px;
  }

  .nav_mobile picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_mobile picture img {
  }

  .nav-button-container {
    height: 50px;
    width: 50px;
  }

  .nav-button {
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
