* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'sans-serif';
}

body {
  color: #000000;
  background-color: #fff;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  border: 5px solid rgba(255, 0, 0, 0.496);
}

.App {
  max-width: 1920px;
  min-height: 200vh;
  width: 100%;
  margin: auto;
  border: 3px solid green;
  position: relative;
  animation: view 0.5s ease-in-out;
}

@keyframes view {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App_black {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

.videoIntro {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  animation: desvanecer 3.5s ease-in-out;
}
@keyframes desvanecer {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
