.foot_container {
  background-color: #4040fb;
  color: #fff;
}

.foot_f_section {
  margin: auto;
  max-width: 1440px;
  padding: 80px 150px;
  display: flex;
  justify-content: space-between;
}

.foot_f_section h3 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}

.foot_s_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.foot_ff_colum {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.foot_fs_colum,
.foot_ft_colum {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.foot_fs_colum > ul,
.foot_ft_colum > ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 10px;
}

.foot_fs_colum a,
.foot_ft_colum a {
  text-decoration: none;
  color: #8ec2f2;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.foot_f_list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .foot_container {
    padding: 80px 70px 25px;
  }
  .foot_f_section {
    padding: 0;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .foot_s_section {
    padding: 0;
    padding-top: 80px;
    text-align: center;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
