.foot_container {
  background-color: #1e1f20;
  color: #9ca7c260;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: Inter;
  font-size:20px;
}

.foot_f_section {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 16px;
 font: optional;
}

.foot_f_section a{
  cursor: pointer;
}

.foot_f_section p{
  font-size: 14px;
}

.foot_ff_column {
  color: #9ca7c2;
 

font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.2px;
}

.foot_ff_column span{
  font-size: 14px;
  color: #9ca7c260;
}

.foot_s_section{
  font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
color: #9ca7c2;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .foot_container {
    padding: 80px 70px 25px;
  }
  .foot_f_section {
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }

  .foot_s_section {
    padding: 0;
    padding-top: 80px;
    text-align: center;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
