@import '../../../App.css';

.ft_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 150px;
  min-height: 500px;
  height: 100%;
  max-height: 669px;
  background: linear-gradient(87deg, #191919 0.58%, rgba(21, 21, 21, 0) 47.24%);
  margin-bottom: 110px;
}

.ft_items_container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 385px;
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.ft_items_container_horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ft_items {
  display: flex;
}

.ft_text {
  flex-direction: column;
  gap: 24px;
}

.ft_group_title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ft_text h3 {
  color: #ddd;
  /* display: none; */
  font-family: var(--t_family_2);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;

  animation: ft_h3_toTop 0.8s linear;
}

.ft_text h3 span {
  background: linear-gradient(
    274deg,
    var(--t-color-1) 55.31%,
    var(--t-color-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  font-family: var(--t_family_2);
}

.ft_cubic_container {
  width: calc(100% / 3);
}

.spline_loading {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 5px solid #fff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes ft_h3_toTop {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.ft_text p {
  color: rgba(219, 219, 219, 0.6);
  display: none;
  font-family: var(--t_family_2);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 160% */
  animation: ft_p_toTop 0.8s linear 0.5s backwards;
}

@keyframes ft_p_toTop {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.ft_buttons {
  display: none;
  animation: ft_buttons_gap 0.8s linear 0.7s backwards;
  width: 100%;
  max-width: 1000px;
}

@keyframes ft_buttons_gap {
  0% {
    width: 80%;
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    width: 80%;

    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

.ft_buttons .ft_buttons_button {
  position: relative;
  font-family: var(--t_family_2);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 181.818% */
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  background-color: transparent;
  background: none;
  color: var(--white);
  cursor: pointer;
  border-bottom: 1px solid var(--white);
  transition: 0.5s ease-in-out;

  animation: ft_buttons_padding 0.8s linear 0.7s backwards;
}

.ft_buttons .ft_buttons_button:hover,
.ft_buttons .ft_buttons_button:hover img {
  background: linear-gradient(
    274deg,
    var(--t-color-1) 80%,
    var(--t-color-2) 200%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  gap: 26px;
  transition: 0.5s ease-in-out;
}

@keyframes ft_buttons_padding {
  0% {
    padding: 16px 6px;
  }
  50% {
    padding: 16px 6px;
  }
  100% {
    padding: 16px 16px;
  }
}

.ft_items_sub {
  position: relative;
  white-space: nowrap;
}

@keyframes ft_p_toRight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .ft_items h2 {
    font-size: 32px;
  }
}
@media (min-width: 200px) and (max-width: 1024px) {
  .ft_text h3,
  .ft_text p,
  .ft_items_sub::before,
  .ft_buttons .ft_buttons_button,
  .ft_buttons {
    animation: none;
  }

  .ft_container {
    width: 100%;
    padding: 20px 40px;
    margin-bottom: 0;
    min-height: auto;
    background: none;
    background-color: #0d0d0d;
  }

  .ft_items_container {
    gap: 16px;
    min-height: auto;
  }

  .ft_text {
    gap: 8px;
  }

  .ft_group_title {
    gap: 4px;
    flex-direction: row;
  }

  .ft_text h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .ft_text h3 span {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #ddd;
  }

  .ft_text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .ft_cubic_container {
    display: none;
  }

  .ft_buttons .ft_buttons_button,
  .ft_buttons .ft_buttons_button img {
    background: linear-gradient(
      274deg,
      var(--t-color-1) 80%,
      var(--t-color-2) 200%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
