@import '../../../App.css';

.ft_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 150px;
  min-height: 500px;
  height: 100%;
  max-height: 669px;
  background: linear-gradient(87deg, #191919 0.58%, rgba(21, 21, 21, 0) 47.24%);
  margin-bottom: 110px;
}

.ft_items_container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 385px;
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.ft_items {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.ft_text {
  flex-direction: column;
  gap: 24px;
}

.ft_text h3 {
  color: var(--white);
  /* display: none; */
  font-family: var(--t_family_2);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;

  animation: ft_h3_toTop 0.8s linear;
}

.ft_text h3 span {
  background: linear-gradient(
    274deg,
    var(--t-color-1) 55.31%,
    var(--t-color-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

@keyframes ft_h3_toTop {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.ft_text p {
  color: rgba(219, 219, 219, 0.60);
  display: none;
  font-family: var(--t_family_2);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 160% */
  animation: ft_p_toTop 0.8s linear 0.5s backwards;
}

@keyframes ft_p_toTop {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.ft_buttons {
  display: none;
  animation: ft_buttons_gap 0.8s linear 0.7s backwards;
  width: 100%;
  max-width: 1000px;
}

@keyframes ft_buttons_gap {
  0% {
    width: 80%;
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    width: 80%;

    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

.ft_buttons button {
  position: relative;
  font-family: var(--t_family_2);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 181.818% */
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  background-color: transparent;
  background: none;
  color: var(--white);
  cursor: pointer;
  border-bottom: 1px solid var(--white);
  transition: 0.5s ease-in-out;

  animation: ft_buttons_padding 0.8s linear 0.7s backwards;
}

.ft_buttons button:hover, .ft_buttons button:hover img {
  background: linear-gradient(
    274deg,
    var(--t-color-1) 80%,
    var(--t-color-2) 200%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  gap: 26px;
  transition: 0.5s ease-in-out;
}

@keyframes ft_buttons_padding {
  0% {
    padding: 16px 6px;
  }
  50% {
    padding: 16px 6px;
  }
  100% {
    padding: 16px 16px;
  }
}

.ft_items_sub {
  position: relative;
  white-space: nowrap;
}

@keyframes ft_p_toRight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .ft_items h2 {
    font-size: 32px;
  }
}
@media (min-width: 200px) and (max-width: 1024px) {
  .ft_text h3,
  .ft_text p,
  .ft_items_sub::before,
  .ft_buttons button,
  .ft_buttons {
    animation: none;
  }

  .ft_container {
    margin: 80px 0 10px 0;
    max-height: max-content;

    width: 100%;
    padding: 0 40px;
  }

  .ft_items_container {
    gap: 50px;
    height: 100%;
    /* align-items: normal; */
  }

  .ft_items h3 {
    font-size: 12px;
    line-height: 20px;
  }

  .ft_items h2 {
    font-size: 24px;
    line-height: 24px;
    white-space: wrap;
    text-align: center;
    position: relative;
    top: 0;
    max-height: max-content;
  }

  .ft_items p {
    font-size: 16px;
    line-height: 28.462px;
    margin: 0;
  }

  .ft_text {
    gap: 16px;
  }

  .ft_items {
    flex-direction: column;
    gap: 16px;
  }

  .ft_items button {
    white-space: normal;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
