@import '../../../App.css';

.ft_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  min-height: 500px;
  height: 100%;
  max-height: 669px;
}

.ft_items_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  min-height: 385px;
  width: 100%;
  position: relative;
}

.ft_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft_text {
  flex-direction: column;
  gap: 24px;
}

.ft_text h3 {
  display: none;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 3.6px;

  animation: ft_h3_toTop 0.8s linear;
}

@keyframes ft_h3_toTop {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.ft_text h2 {
  position: absolute;
  top: 40px;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 100% */
  letter-spacing: 0.36px;
  text-align: center;
  /* white-space: nowrap; */
}

.ft_text p {
  margin-top: 130px;
  display: none;
  text-align: center;
  /* Heading principal */
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 160% */
  animation: ft_p_toTop 0.8s linear 0.5s backwards;
}

@keyframes ft_p_toTop {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.ft_buttons {
  display: none;
  justify-content: space-between;
  animation: ft_buttons_gap 0.8s linear 0.7s backwards;
  width: 100%;
  max-width: 1000px;
}

@keyframes ft_buttons_gap {
  0% {
    width: 80%;
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    width: 80%;

    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

.ft_buttons button {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
  display: flex;
  padding: 16px 16px;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--s-color);

  animation: ft_buttons_padding 0.8s linear 0.7s backwards;
}

@keyframes ft_buttons_padding {
  0% {
    padding: 16px 6px;
  }
  50% {
    padding: 16px 6px;
  }
  100% {
    padding: 16px 16px;
  }
}

.ft_items_sub {
  position: relative;
  white-space: nowrap;
}

.ft_items_sub::before {
  content: '';
  width: 100%;
  background-color: var(--s_shadow);
  height: 9px;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: -1;
  animation: ft_p_toRight 0.5s linear 1.6s backwards;
}

@keyframes ft_p_toRight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .ft_items h2 {
    font-size: 32px;
  }
}
@media (min-width: 200px) and (max-width: 1024px) {
  .ft_text h3,
  .ft_text p,
  .ft_items_sub::before,
  .ft_buttons button,
  .ft_buttons {
    animation: none;
  }

  .ft_container {
    margin: 80px 0 10px 0;
    max-height: max-content;

    width: 100%;
    padding: 0 40px;
  }

  .ft_items_container {
    gap: 50px;
    height: 100%;
    /* align-items: normal; */
  }

  .ft_items h3 {
    font-size: 12px;
    line-height: 20px;
  }

  .ft_items h2 {
    font-size: 24px;
    line-height: 24px;
    white-space: wrap;
    text-align: center;
    position: relative;
    top: 0;
    max-height: max-content;
  }

  .ft_items p {
    font-size: 16px;
    line-height: 28.462px;
    margin: 0;
  }

  .ft_text {
    gap: 16px;
  }

  .ft_items {
    flex-direction: column;
    gap: 16px;
  }

  .ft_items button {
    white-space: normal;
  }
}

@media (min-width: 200px) and (max-width: 750px) {
}

@media (min-width: 750px) and (max-width: 1200px) {
}
